@model GameOfStocksHT16.Models.ActivityViewModels.ActivityModel

@{
    ViewData["Title"] = "Aktiviteter";
}
<section class="section-padding-medium">
    <div class="container">
        <div class="col-md-offset-1">
            <div class="row text-center">
                <h2>Aktiviteter</h2>
            </div>
            @foreach (var activity in Model.Activities)
            {
                @if (activity.User.Email != User.Identity.Name)
                {
                    if (activity.IsBuying && !activity.IsFailed)
                    {
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <div class="row">
                                    @if (activity.User.PictureUrl == null)
                                    {
                                        <img src="~/images/default-profile-pic.png" width="40" height="40" class="img-circle" />
                                    }
                                    else
                                    {

                                        <img class="img-circle" src="@activity.User.PictureUrl" height="40" width="40" />
                                    }
                                </div>
                                <p>@Html.ActionLink(@activity.User.FullName, "VisitProfile", "Users", new { id = @activity.User.Id }) har köpt @activity.Quantity aktier från @Html.ActionLink(@activity.Name, "Stock", "StockList", new { label = @activity.Label })</p>
                                <p><em>@activity.Date</em></p>
                            </div>
                        </div>
                    }
                    else if (activity.IsSelling && !activity.IsFailed)
                    {
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <div class="row">
                                    @if (activity.User.PictureUrl == null)
                                    {
                                        <img src="~/images/default-profile-pic.png" width="40" height="40" class="img-circle" />
                                    }
                                    else
                                    {

                                        <img class="img-circle" src="@activity.User.PictureUrl" height="40" width="40" />
                                    }
                                </div>
                                <p>@Html.ActionLink(@activity.User.FullName, "VisitProfile", "Users", new { id = @activity.User.Id }) har sålt @activity.Quantity aktier från @Html.ActionLink(@activity.Name, "Stock", "StockList", new { label = @activity.Label })</p>
                                <p><em>@activity.Date</em></p>
                            </div>
                        </div>
                    }

                }
            }
        </div>
    </div>
    </section>
