@model GameOfStocksHT16.Models.ActivityViewModels.ActivityViewModel

@{
    ViewData["Title"] = "Aktiviteter";
}
<section class="section-padding-medium">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            @foreach (var transaction in Model.MostRecentCompletedTransactions)
            {
                <div class="row">
                    @if (transaction.IsBuying)
                    {
                        var stock = Model.AllStocks.FirstOrDefault(x => x.Name == transaction.Name);
                        <div class="col-md-8  col-md-offset-2">
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <a asp-action="VisitProfile" asp-controller="Users" asp-route-id="@transaction.User.Id">
                                                @if (transaction.User.PictureUrl == null)
                                                {
                                                    <img src="~/images/default-profile-pic.png" width="40" height="40" class="media-object img-circle" />
                                                }
                                                else
                                                {
                                                    <img class="media-object img-circle" src="@transaction.User.PictureUrl" height="40" width="40" />
                                                }
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p class="no-margin-bottom">
                                                <a asp-action="VisitProfile" asp-controller="Users" asp-route-id="@transaction.User.Id">@transaction.User.FullName</a>
                                                har köpt @transaction.Quantity aktier från
                                                <a asp-action="Stock" asp-controller="StockList" asp-route-label="@transaction.Label"
                                                   data-html="true"
                                                   data-toggle="tooltip"
                                                   title="Köpris/styck: @stock.LastTradePriceOnly kr </br>
                                        Totalt värde: @transaction.TotalMoney kr </br>">
                                    @transaction.Name
                                </a>
                                                <i class="fa fa-3x fa-exchange text-primary pull-left"></i>
                                            </p>
                                            <p class="small no-margin-bottom"><em>@transaction.Date.ToString("dd MMMM  HH:MM")</em>
                                            
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (transaction.IsSelling)
                    {
                        var stock = Model.AllStocks.FirstOrDefault(x => x.Name == transaction.Name);
                        <div class="col-md-8 col-md-offset-2 ">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="media">
                                        <div class="media-body text-right">
                                            <p class="no-margin-bottom">
                                                <a asp-action="VisitProfile" asp-controller="Users" asp-route-id="@transaction.User.Id">@transaction.User.FullName</a>
                                                har sålt @transaction.Quantity aktier från
                                                <a asp-action="Stock" asp-controller="StockList" asp-route-label="@transaction.Label"
                                                   data-html="true"
                                                   data-toggle="tooltip"
                                                   title="Köpris/styck: @stock.LastTradePriceOnly kr </br>
                                        Totalt värde: @transaction.TotalMoney kr </br>">

                                    @transaction.Name

                                                    <i class="fa fa-3x fa-exchange text-danger pull-right"></i>
                                </a>
                                            </p>
                                            <p class="small no-margin-bottom"><em>@transaction.Date.ToString("dd MMMM  HH:MM")<span class="invisible">.</span></em></p>
                                        </div>
                                        <div class="media-right media-middle">
                                            <a asp-action="VisitProfile" asp-controller="Users" asp-route-id="@transaction.User.Id">
                                                @if (transaction.User.PictureUrl == null)
                                                {
                                                    <img src="~/images/default-profile-pic.png" width="40" height="40" class="media-object img-circle" />
                                                }
                                                else
                                                {
                                                    <img class="media-object img-circle" src="@transaction.User.PictureUrl" height="40" width="40" />
                                                }
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            </div>
                            }
                        </div>
                    }
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
