@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-padding-medium">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="text-center">
                    <h3>@Model.FullName</h3>
                   @if (Model.PictureUrl == null)
                   {
                    <img src="~/images/default-profile-pic.png" width="200" height="200" class="img-circle" />
                   }
                   else
                   {
                    <img src="@Model.PictureUrl" width="200" height="200" class="img-circle" />
                   }
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                    
                <div class="user-info-panel">
                    <div class="text-xs-center">
                        <dl class="dl">
                            <dt>@*<i class="fa fa-envelope text-info"></i>*@ @Html.DisplayNameFor(model => model.Email) </dt>
                            <dd> @Model.Email</dd>
                            <dt>
                                @*<i class="fa fa-money text-info"></i>*@ @Html.DisplayNameFor(model => model.Money)
                            </dt>
                            <dd>@Html.DisplayFor(model => model.Money)</dd>
                            <dt>@*<i class="fa fa-hourglass text-info"></i>*@ @Html.DisplayNameFor(model => model.ReservedMoney)</dt>
                            <dd>@Html.DisplayFor(model => model.ReservedMoney)</dd>
                            <dt>@*<i class="fa fa-briefcase text-info"></i>*@ @Html.DisplayNameFor(model => model.TotalWorth)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalWorth)
                            </dd>
                        </dl>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>

        </div>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <h4>
                    Vänteläge
                </h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @*@Html.DisplayFor(m => m.StockTransactions)*@
                                    Datum
                                </th>
                                <th>
                                    Namn
                                </th>
                                <th>
                                    Ticker
                                </th>
                                <th>
                                    Antal
                                </th>

                                <th>
                                    Uppskattat
                                </th>
                                <th>
                                    Köper
                                </th>
                                <th>
                                    Säljer
                                </th>
                                <th>
                                    <i class="fa fa-clock-o"></i>
                                </th>
                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StockTransactions)
                            {
                                if (item.IsCompleted || item.IsFailed)
                                {
                                    continue;
                                }
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        <a asp-controller="StockList" asp-action="Stock" asp-route-label="@item.Label">@item.Name</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Label)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalMoney)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsBuying)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsSelling)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeLeftToCompletion.Minutes) Min
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div></div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Aktier
                </h4>
                <div id="buy-sell-error-box" style="display:none" class="alert alert-warning ">
                    <span id="buy-sell-error"></span>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-lg-2">
                                    Namn
                                </th>
                                <th class="col-lg-1">
                                    Ticker
                                </th>
                                <th class="col-lg-1">
                                    Antal
                                </th>
                                <th class="col-lg-1">
                                    Totalt värde
                                </th>
                                <th class="col-lg-1">
                                    GAV
                                </th>
                                <th class="col-lg-1">Aktuell kurs</th>
                                <th class="col-lg-1">Utveckling</th>
                                <th class="col-lg-2"></th>
                                <th class="col-lg-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StockOwnerships)
            {
                                <tr>
                                    <td>
                                        <a asp-controller="StockList" asp-action="Stock" asp-route-label="@item.Label" class="">@item.Name</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Label)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalSum)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gav)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastTradePrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Growth)%
                                    </td>
                                    <td>
                                        <form asp-controller="api/StockTransactions"
                                              asp-action="CreateSellingStockTransaction"
                                              asp-route-label="@item.Label"
                                              asp-anti-forgery="true"
                                              data-ajax-success="ajaxSuccess"
                                              data-ajax="true"
                                              data-ajax-method="POST"
                                              data-ajax-failure="ajaxError"
                                              data-ajax-begin="OnBegin"
                                              data-ajax-complete="OnComplete"
                                              class="">
                                            <div class="input-group input-group-sm">
                                                <input required="required" name="quantity" id="quantity" type="number" min="1" class="form-control">
                                                <span class="input-group-btn">
                                                    <button data-loading-text="Laddar..." class="btn btn-danger" type="submit">Sälj</button>
                                                </span>
                                            </div>
                                        </form>
                                    </td>
                                    <td>
                                        <form asp-controller="api/StockTransactions"
                                              asp-action="CreateBuyingStockTransaction"
                                              asp-route-label="@item.Label"
                                              asp-anti-forgery="true"
                                              data-ajax-success="ajaxSuccess"
                                              data-ajax="true"
                                              data-ajax-method="POST"
                                              data-ajax-begin="OnBegin"
                                              data-ajax-complete="OnComplete"
                                              data-ajax-failure="ajaxError">
                                            <div class="input-group input-group-sm ">
                                                <input required="required" name="quantity" id="quantity" type="number" min="1" class="form-control">
                                                <span class="input-group-btn">
                                                    <button data-loading-text="Laddar..." class="btn btn-primary" type="submit">Köp</button>
                                                </span>
                                            </div>
                                        </form>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Historik
                </h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Datum
                                </th>
                                <th>
                                    Namn
                                </th>
                                <th>
                                    Ticker
                                </th>
                                <th>
                                    Antal
                                </th>

                                <th>
                                    Totalt värde
                                </th>
                                <th>
                                    Köp/Sälj-kurs
                                </th>
                                <th>
                                    Köpte
                                </th>
                                <th>
                                    Sålde
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StockTransactions)
                            {
                                if (!item.IsCompleted)
                                {
                                    continue;
                                }
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Label)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalMoney)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsBuying)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsSelling)
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @if (Model.StockTransactions.Any(s => s.IsFailed))
        {
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        Misslyckades
                    </h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Datum
                                    </th>
                                    <th>
                                        Namn
                                    </th>
                                    <th>
                                        Ticker
                                    </th>
                                    <th>
                                        Antal
                                    </th>

                                    <th>
                                        Totalt värde
                                    </th>
                                    <th>
                                        Köpte
                                    </th>
                                    <th>
                                        Sålde
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StockTransactions.Where(s => s.IsFailed))
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Label)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Bid)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsBuying)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsSelling)
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        }

    </div>
</section>
@section scripts{
    <script>
        function ajaxSuccess() {
            location.reload();
        };

        function ajaxError(XMLHttpRequest) {
            var errorText = XMLHttpRequest.responseText;
            if (!$('#buy-sell-error-box').is(":visible")) {
                $('#buy-sell-error-box').toggle();
            }
            $('#buy-sell-error').html(errorText);
        };

        function OnBegin() {
            var btn = $(this).find('button');
            $(btn).button('loading');
        };

        function OnComplete() {
            var btn = $(this).find('button');
            $(btn).button('reset');
        };

        $(function () {
            var progressAllDays = @Json.Serialize(Model.ProgressAllDays);
            var progressToChart = [];
            $.each(progressAllDays.value, function(index, element) {
                progressToChart.push({ x: index, y: element});
            });

            //Better to construct options first and then pass it as a parameter
            var options = {
                title: {
                    text: "Utveckling (%)"
                },
                animationEnabled: true,
                axisX: {
                    minimum: 0,
                    maximum: 30
                },
                axisY: {
                    minimum: -50,
                    maximum: 50

                },
                data: [
                {
                    type: "line", //change it to line, area, column, pie, etc
                    dataPoints: progressToChart
                }
                ]
            };
            var chart = new CanvasJS.Chart("chartContainer", options);
            chart.render();
        });
    </script>
}

