@model LeaderBoardViewModel
@{
    ViewData["Title"] = "Stock List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-padding-medium">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">#</th>
                        <th class="col-md-1"></th>
                        <th>Namn</th>
                        <th>Totala tillgångar</th>
                        <th>Utveckling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AllUsers)
                    {
                        int i = Model.AllUsers.IndexOf(item);
                        <tr>
                            <td class="text-center">@(i + 1)</td>
                            <td class="text-center">
                                @if (item.PictureUrl == null)
                                {
                                    <img src="~/images/default-profile-pic.png" width="50" height="50" class="img-circle" />
                                }
                                else
                                {
                                    <img src="@item.PictureUrl" width="50" height="50" class="img-circle" />
                                }
                            </td>
                            <td>
                                <a class="" asp-action="VisitProfile" asp-route-id="@item.Id">
                                    @if (item.FullName == null)
                                    {
                                        @item.Email
                                    }
                                    else
                                    {
                                        @item.FullName
                                    }
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.TotalWorth)
                            </td>
                            @if (item.GrowthPercent > 0)
                            {
                                <td class="text-success"><b>@Html.DisplayFor(m => item.GrowthPercent)%</b> <i class="fa fa-arrow-up fa-2x  pull-right"></i></td>
                            }
                            else if (item.GrowthPercent < 0)
                            {

                                <td class="text-danger"><b>@Html.DisplayFor(m => item.GrowthPercent)%</b> <i class="fa fa-arrow-down fa-2x pull-right"></i></td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(m => item.GrowthPercent)%</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class=""></div>


    </div>
</section>

@section scripts
{
    <script type="text/javascript">
    </script>
}