@model ProfileViewModelSimplified
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-padding-medium">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-padding-min-top">
                <div class="text-center">
                    @if (Model.User.PictureUrl == null)
                    {
                        <img src="~/images/default-profile-pic.png" width="200" height="200" class="img-circle img-responsive" />
                    }
                    else
                    {
                        <img src="@Model.User.PictureUrl" width="200" height="200" class="img-circle" />
                    }
                </div>
            </div>

            <div class="col-md-4 col-padding-top ">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>Namn:</td>
                            <td>@Model.User.FullName</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.User.Money):</td>
                            <td>@Html.DisplayFor(model => model.User.Money)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.User.ReservedMoney)</td>
                            <td>@Html.DisplayFor(model => model.User.ReservedMoney)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.User.TotalWorth)</td>
                            <td>@Html.DisplayFor(model => model.User.TotalWorth)</td>
                        </tr>
                        <tr>
                            <td>Rank:</td>
                            <td>@Html.DisplayFor(model => model.Position)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div id="chartContainer" style="height: 230px; width: 100%;"></div>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="panel panel-info">
                <div class="panel-heading">Vänteläge</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Datum
                                    </th>
                                    <th>
                                        Namn
                                    </th>
                                    <th>
                                        Ticker
                                    </th>
                                    <th>
                                        Antal
                                    </th>

                                    <th>
                                        Uppskattat
                                    </th>
                                    <th>
                                        Köper
                                    </th>
                                    <th>
                                        Säljer
                                    </th>
                                    <th>
                                        <i class="fa fa-clock-o"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PendingTransactions)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            <a asp-controller="StockList" asp-action="Stock" asp-route-label="@item.Label">@item.Name</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Label)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalMoney)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsBuying)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsSelling)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeLeftToCompletion.Minutes) Min
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <hr />
                <div class="panel panel-success">
                    <div class="panel-heading">Aktier</div>
                    <div class="panel-body">
                        <div id="buy-sell-error-box" style="display:none" class="alert alert-warning ">
                            <span id="buy-sell-error"></span>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-lg-2">
                                            Namn
                                        </th>
                                        <th class="col-lg-1">
                                            Ticker
                                        </th>
                                        <th class="col-lg-1">
                                            Antal
                                        </th>
                                        <th class="col-lg-1">
                                            Totalt värde
                                        </th>
                                        <th class="col-lg-1">
                                            GAV
                                        </th>
                                        <th class="col-lg-1">Aktuell kurs</th>
                                        <th class="col-lg-1">Utveckling</th>
                                        <th class="col-lg-2"></th>
                                        <th class="col-lg-2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.StockOwnerships)
            {
                                        <tr>
                                            <td>
                                                <a asp-controller="StockList" asp-action="Stock" asp-route-label="@item.Label" class="">@item.Name</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Label)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalSum)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Gav)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastTradePrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Growth)%
                                            </td>
                                            <td>
                                                <form asp-controller="api/StockTransactions"
                                                      asp-action="CreateSellingStockTransaction"
                                                      asp-route-label="@item.Label"
                                                      asp-anti-forgery="true"
                                                      data-ajax-success="ajaxSuccess"
                                                      data-ajax="true"
                                                      data-ajax-method="POST"
                                                      data-ajax-failure="ajaxError"
                                                      data-ajax-begin="OnBegin"
                                                      data-ajax-complete="OnComplete"
                                                      class="">
                                                    <div class="input-group input-group-sm">
                                                        <input required="required" name="quantity" id="quantity" type="number" min="1" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button data-loading-text="Laddar..." class="btn btn-danger" type="submit">Sälj</button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <form asp-controller="api/StockTransactions"
                                                      asp-action="CreateBuyingStockTransaction"
                                                      asp-route-label="@item.Label"
                                                      asp-anti-forgery="true"
                                                      data-ajax-success="ajaxSuccess"
                                                      data-ajax="true"
                                                      data-ajax-method="POST"
                                                      data-ajax-begin="OnBegin"
                                                      data-ajax-complete="OnComplete"
                                                      data-ajax-failure="ajaxError">
                                                    <div class="input-group input-group-sm ">
                                                        <input required="required" name="quantity" id="quantity" type="number" min="1" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button data-loading-text="Laddar..." class="btn btn-primary" type="submit">Köp</button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</section>
@section scripts{
    <script>
        function ajaxSuccess() {
            location.reload();
        };

        function ajaxError(XMLHttpRequest) {
            var errorText = XMLHttpRequest.responseText;
            if (!$('#buy-sell-error-box').is(":visible")) {
                $('#buy-sell-error-box').toggle();
            }
            $('#buy-sell-error').html(errorText);
        };

        function OnBegin() {
            var btn = $(this).find('button');
            $(btn).button('loading');
        };

        function OnComplete() {
            var btn = $(this).find('button');
            $(btn).button('reset');
        };

        $(function () {
            var progressAllDays = @Json.Serialize(Model.ProgressAllDays);
            var progressToChart = [];
            $.each(progressAllDays.value, function(index, element) {
                progressToChart.push({ x: index, y: element });
            });

            //Better to construct options first and then pass it as a parameter
            var options = {
                title: {
                    text: "Utveckling (%)"
                },
                animationEnabled: true,
                axisX: {
                    minimum: 0,
                    maximum: 30
                },
                axisY: {
                    minimum: -100,
                    maximum: 100

                },
                data: [
                {
                    type: "line", //change it to line, area, column, pie, etc
                    dataPoints: progressToChart
                }
                ]
            };
            var chart = new CanvasJS.Chart("chartContainer", options);
            chart.render();
        });
    </script>
}

