@model ProfileViewModel

@{
    ViewData["Title"] = @Model.Email;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="text-center">
                    <h3>@Model.FullName</h3>
                    @if (Model.PictureUrl == null)
                    {
                        <img src="~/images/default-profile-pic.png" width="200" height="200" class="img-circle" />
                    }
                    else
                    {
                        <img src="@Model.PictureUrl" width="200" height="200" class="img-circle" />
                    }
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="text-center">
                    <br />
                    <dl>
                        <dt>Tillgängliga tillgångar</dt>
                        <dd>@Model.Money kr</dd>
                        <dt>Totala tillgångar</dt>
                        <dd>@Model.TotalWorth kr</dd>
                    </dl>
                </div>
            </div>
            <hr />
            <div class="col-md-6 col-sm-12 col-xs-12 well well-sm">
                <p>Plats för utvecklingskurva..</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 ">
                <h4>
                    Aktier
                </h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Namn
                                </th>
                                <th>
                                    Ticker
                                </th>
                                <th>
                                    Antal
                                </th>
                                <th>Utveckling</th>
                                <th>Aktuell kurs</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StockOwnerships)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Label)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastTradePrice)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h4>
                    Köphistorik
                </h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Namn
                                </th>
                                <th>
                                    Ticker
                                </th>
                                <th>
                                    Antal
                                </th>
                                <th>
                                    Datum
                                </th>
                                <th>
                                    Totalt
                                </th>
                                <th>
                                    Bud
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StockTransactions)
                            {
                                if (item.IsBuying && item.IsCompleted)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Label)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalMoney)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Bid)
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h4>
                    Säljhistorik
                </h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Namn
                                </th>
                                <th>
                                    Ticker
                                </th>
                                <th>
                                    Antal
                                </th>
                                <th>
                                    Datum
                                </th>
                                <th>
                                    Totalt
                                </th>
                                <th>
                                    Bud
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StockTransactions)
                            {
                                if (item.IsSelling && item.IsCompleted)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Label)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalMoney)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Bid)
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</section>