@model HomeViewModel
@{
    ViewData["Title"] = "Framsida";
}

<section id="section-welcome-header">
    <div class="jumbotron text-center jumbotron-custom">
        <h2>Välkommen till</h2>
        <h1 class="text-uppercase">game of stocks!</h1>
        @await Html.PartialAsync("_LoginLinksPartial")
    </div>
</section>
<section class="">
    <div class="container">
        <div class="jumbotron jumbotron-transparent">
            <h3 class="">Prestige. Trading. Uppgång. Nedgång. Framgång. Motgång. Spänning.</h3>
            <p>
                Ja, många olika ord kan beskriva Game of Stocks! Historiskt sett har vi sett otroliga prestationer, men även prestationer som gör oss glada att vi handlar med fiktiva pengar... Men det är just tjusningen med denna tävling, att kunna gå all in på högrisk-aktier och ha chansen att slå på jackpot, eller ha ett lågrisk-tänk och se om den mer försiktiga sparformen är vägen till framgång, eller blanda! Allt är möjligt, i Game of Stocks!
            </p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h3>Topp 5</h3>
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Utveckling</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CurrentLeaderBoard)
                        {
                            <tr>
                                <td>@item.Email</td>
                                <td>
                                    @item.TotalWorth kr
                                    @if (item.GrowthPercent > 0)
                                    {
                                        <span class="font-percent text-success">(@item.GrowthPercent%)</span>
                                    }
                                    else if (item.GrowthPercent < 0)
                                    {
                                        <span class="font-percent text-danger">(@item.GrowthPercent%)</span>
                                    }
                                    else
                                    {
                                        <span class="font-percent">(@item.GrowthPercent%)</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h3>Dagens vinnare</h3>
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Utveckling</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TodaysWinners)
                        {
                            <tr>
                                <td>@item.Email</td>
                                @if (item.PercentPerDay > 0)
                                {
                                    <td class="font-percent font-color-green">@item.PercentPerDay%</td>
                                }
                                else if (item.PercentPerDay < 0)
                                {
                                    <td class="font-percent font-color-red">@item.PercentPerDay%</td>
                                }
                                else
                                {
                                    <td class="font-percent">@item.PercentPerDay%</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h3>Dagens förlorare</h3>
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Utveckling</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TodaysLoosers)
                        {
                            <tr>
                                <td>@item.Email</td>
                                @if (item.PercentPerDay > 0)
                                {
                                    <td class="font-percent font-color-green">@item.PercentPerDay%</td>
                                }
                                else if (item.PercentPerDay < 0)
                                {
                                    <td class="font-percent font-color-red">@item.PercentPerDay%</td>
                                }
                                else
                                {
                                    <td class="font-percent">@item.PercentPerDay%</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
@section Scripts {
    <script type="text/javascript">
    </script>
}

