@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section id="section-welcome-header">
    <div class="jumbotron text-center jumbotron-custom">
        <i class="fa fa-area-chart fa-5x"></i>
        <h1>Welcome to GOS!</h1>
        <h3>welcome into the bräschen!</h3>
    </div>
</section>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>Leaderboard</h3>
            <table class="table table-bordered table-condensed table-striped" >
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CurrentLeaderBoard)
                    {
                        <tr>
                            <td>@item.Email</td>
                            <td>@item.TotalWorth kr <i>(@item.GrowthPercent%)</i></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3>Todays winners</h3>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TodaysWinners)
                    {
                        <tr>
                            <td>@item.Email</td>
                            <td>@item.PercentPerDay %</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3>Todays loosers</h3>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TodaysLoosers)
                    {
                        <tr>
                            <td>@item.Email</td>
                            <td>@item.PercentPerDay %</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <hr />
</div>
@section Scripts {
    <script>

    </script>
}

