@model HomeViewModel
@{
    ViewData["Title"] = "Framsida";
}

<section id="section-welcome-header">
    <div class="jumbotron text-center jumbotron-transparent">
        <h1><i class="fa fa-2x fa-area-chart"></i></h1>
        <h2>Välkommen till</h2>
        <h1 class="text-uppercase">game of stocks!</h1>
        @await Html.PartialAsync("_LoginLinksPartial")
        <div class="row"><div class="col-md-6 col-md-offset-3"><hr /></div></div>
        <p class="text-white">
            <em>I samarbete med </em>
        </p>
        <div><img src="~/images/nordea.png" /></div>
    </div>
</section>
<section class="">
    <div class="container text-center">
        <div class="jumbotron jumbotron-text-grey jumbotron-transparent">
            <h2 class="">Prestige. Trading. Uppgång. Nedgång. Framgång. Motgång. Spänning.</h2>
            <hr />
            <p>
                Ja, många olika ord kan beskriva Game of Stocks! Historiskt sett har vi sett otroliga prestationer, men även prestationer som gör oss glada att vi handlar med fiktiva pengar... Men det är just tjusningen med denna tävling, att kunna gå all in på högrisk-aktier och ha chansen att slå på jackpot, eller ha ett lågrisk-tänk och se om den mer försiktiga sparformen är vägen till framgång, eller blanda!
            </p>
            <p class="text-uppercase">Allt är möjligt, i Game of Stocks!</p>
        </div>
    </div>
</section>
<section>
@if (User.Identity.Name == "dahlberg_kim@hotmail.com" || User.Identity.Name == "alexander.lienius@outlook.com")
{
    <div class="container">
        <!-- Example row of columns -->
        <div class="col-md-4">
            <h3>Topp 5</h3>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Utveckling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CurrentLeaderBoard)
                    {
                        <tr>
                            <td>
                                <a class="" asp-action="VisitProfile" asp-controller="Users" asp-route-id="@item.Id">@item.FullName</a>
                            </td>
                            <td>
                                @item.TotalWorth kr
                                @if (item.GrowthPercent > 0)
                                {
                                    <span class="font-percent text-success">(@item.GrowthPercent%)</span>
                                }
                                else if (item.GrowthPercent < 0)
                                {
                                    <span class="font-percent text-danger">(@item.GrowthPercent%)</span>
                                }
                                else
                                {
                                    <span class="font-percent">(@item.GrowthPercent%)</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3>Dagens vinnare</h3>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Utveckling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TodaysWinners)
                    {
                        <tr>
                            <td>
                                <a class="" asp-action="VisitProfile" asp-controller="Users" asp-route-id="@item.Id">@item.FullName</a>
                            </td>
                            @if (item.PercentPerDay > 0)
                            {
                                <td class="font-percent text-success">@item.PercentPerDay%</td>
                            }
                            else if (item.PercentPerDay < 0)
                            {
                                <td class="font-percent text-danger">@item.PercentPerDay%</td>
                            }
                            else
                            {
                                <td class="font-percent">@item.PercentPerDay%</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3>Dagens förlorare</h3>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Utveckling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TodaysLoosers)
                    {
                        <tr>
                            <td>
                                <a class="" asp-action="VisitProfile" asp-controller="Users" asp-route-id="@item.Id">@item.FullName</a>
                            </td>
                            @if (item.PercentPerDay > 0)
                            {
                                <td class="font-percent text-success">@item.PercentPerDay%</td>
                            }
                            else if (item.PercentPerDay < 0)
                            {
                                <td class="font-percent text-danger">@item.PercentPerDay%</td>
                            }
                            else
                            {
                                <td class="font-percent">@item.PercentPerDay%</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
</section>
@section Scripts {
    <script type="text/javascript">
    </script>
}

