@model HomeViewModel
@{
    ViewData["Title"] = "Nyheter";
}
<section id="section-welcome-header">
    <div class="jumbotron text-center jumbotron-custom">
        <h1 class="text-uppercase">Nyheter!</h1>
        <br />
        @*<a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-primary">Logga in</a>
            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-success">Registrera</a>*@
    </div>
</section>

<section class="">
    <div class="container">
        <div class="col-lg-8">
            <div class="row">
                <h3>Nyhetssvep v. 12</h3>
                <!-- Author -->
                <p class="lead">
                    av <a href="https://www.facebook.com/sesamsfinansutskott/?fref=ts" target="_blank">Sesams Finansutskott</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p>
                    <span class="fa fa-clock-o"></span> Postat den 20 mars.
                </p>
                <!-- Preview Image -->
                <hr>
                <p>
                    <i>Veckans Fråga: Vad kommer OMXS30 stänga på fredag?</i>
                </p>
                <p class="lead">Nu har vi hunnit ännu lite längre in i Game of Stocks och det ser ut som att procentena börjar ta sig. Från plats ett till fem ligger alla över 4% plus vilket är en otrolig start. Närmast av gissningarna kom Kim Dahlberg med 7,32% och ledaren i Game of Stocks stängde på fredagen med 7,01% plus. För den som vill ha ännu bättre chanser i Game of Stocks så kommer Olle Qvarnström och föreläser på torsdag klockan 15.00 den 23: mars, det bör man absolut inte missa!</p>
                <p>Under veckan som varit har vi haft några stora händelser som FED:s räntebesked, ett räntebesked från Bank of England samt en nyhet ifrån Kina som väljer att reglera Bitcoin handeln.</p>
                <p>FED var nöjda med situationen och höjde räntan med 25 punkter till intervallet 0,75-1% och öppnar även för flera ränteökningar i framtiden. Misstanken ligger i att FED väntar lite med ökningen för att se mer på hur presidenten Donald Trump väljer att sköta sin ekonomiska politik och därmed står över i juni men för att sedan öka räntan igen i september och december.</p>
                <p>Räntebeskedet ifrån Bank of England var mer passivt då de valde att inte röra räntan eller tillgångköpprogrammet. Men en viss optimism syntes då en ledamot valde att rösta för höjning vilket lede till att tioårsräntan ökade med ungefär 5%.</p>
                <p>En ytterligare stor nyhet som publicerades är att Saudi Arabien planerar att börsnotera Aramco, ett av världens största olje-bolag som är statligt ägt. Det skulle därmed vara den största börsnoteringen som skett och kan nästan inte ens jämföras med de tidigare stora börsnoteringarna Alibaba, Agricultural Bank of China och Visa. Dessa noteringar har legat på 177 till 225 miljarder kronor. Men Aramco, även fast priset fortfarande diskuteras och det enbart är 5% av bolaget som noteras förväntas dra in runt 500 miljarder kronor. Noteringen är så extremt stor att inte börsen i Saudi Arabien kan ta emot hela utan förmodligen kommer det att få parallellnoteras på antingen London eller New York börsen.</p>


                <dl class="dl-horizontal">
                    <dt>OMXS30:</dt>
                    <dd>Har rört sig negativt med en mycket liten marginal.</dd>
                    <dt>DAX:</dt>
                    <dd>+0,989%</dd>
                    <dt>SP500:</dt>
                    <dd>Har rört sig positivt med liten marginal.</dd>
                </dl>
                <p>Veckans vinnare på Large Cap: NCC A +8,38%</p>
                <p>Veckans förlorare på Large Cap: H&M B -5,92%</p>
                <p>Kommande vecka:</p>
                <p>Under måndagen rapporterar ECB angående sina obligationsköp och det kommer även ske ett Eurogruppmöte inom EMU. Under tisdagen kommer en del makrostatistik ifrån USA och Storbritannien med bland annat bytesbalans, oljelager, KPI och PPI. Veckan fortsätter även senare med mer makro ifrån USA och Tyskland. Förutom makro så är det även en hel del bolagstämmor som är nästa vecka med Castellum, Com Hem, Novo Nordisk och Electrolux på torsdagen.</p>
                <p>Kuriosa:</p>
                <p>Finansinspektionen har nu skickat en slutskrivelse som innebär att myndigheten nu avslutar ärentet där storbankerna Nordea och Handelsbanken varit aktiva i Panamaskandalen. Beslut har getts att det inte kommer ges några böter.</p>
                <p>
                    Mvh
                    Finansutskottet
                <hr>
            </div>
            <div class="row">
                <h3>Nyhetssvep v. 11</h3>
                <!-- Author -->
                <p class="lead">
                    av <a href="https://www.facebook.com/sesamsfinansutskott/?fref=ts" target="_blank">Sesams Finansutskott</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p>
                    <span class="fa fa-clock-o"></span> Postat den 14 mars.
                </p>
                <!-- Preview Image -->
                <hr>


                <p>
                    <i>Veckans fråga: Hur många procent har ledaren i Game of Stocks efter första veckan? (Vinnaren av veckans fråga presenteras i slutet av månaden)</i>
                </p>
                <p class="lead">Game of Stocks har äntligen startat och kampen om vem som är Sesams största finanshaj har börjat, vilket är väldigt roligt. När det kommer till aktiehandel är det väldigt viktigt ha full koll på det som händer i omvärlden. Genom att följa de nyhetssvep Finansutskottet publicerar har Du en god chans att få en överblick om vad som händer inom finansvärlden, vilket i slutändan kan bidra till bättre aktieaffärer. Att vara påläst är A och O!</p>
                <p>
                    Veckan som varit
                    Under förra veckan rörde sig den svenska börsen sidledes under hela veckan och vi fick se stora tapp på råvarumarknaderna där bland annat olja föll kraftigt efter information om högre lagernivåer i USA.
                    ECB (Europeiska Centralbanken) lämnade styrräntan oförändrad på 0% trots ökad inflation, beslutet låg i linje med förväntningarna. Räntan har nu legat på denna nivå under ett års tid, ECB meddelade vidare att de planerar att behålla räntan på nuvarande nivå till dess att inflationsmålet är nått.
                </p>

                <p>
                    Veckans chock blev när Nordea som första storbank klev ut och sänkte courtageavgifterna drastiskt till minimala 0,06% per affär. Nordea har nu billigast courtagepris för många aktieaffärer och kommer även att satsa stora pengar på rådgivning via nätet, verkligen ett steg in i framtiden, priskriget om kunderna har börjat. Det nya courtagepriset innebär 6 kr i courtage för en affär på 10 000kr, jämfört med 25kr hos Avanza och Nordnet.
                </p>

                <p>
                    Kryptovalutan bitcoin har även varit i hetluften. Amerikanska Securities and Exchange Comission avslog under fredagen ansökan om att få starta en börshandlad fond (ETF) noterad i bitcoin.
                    Bitcoin stod i rekordnivåer i närheten av 1.300 dollar i början av mars, men efter beslutet föll valutan med hela 18% ner till 978 dollar. Anledningen till ansökan var att göra det enklare för privatpersoner att handla i bitcoin, ett godkännande hade kunna öka intresset för den elektroniska valutan, men det uteblev.
                </p>

                <dl class="dl-horizontal">
                    <dt>OMXS30:</dt>
                    <dd>+0,42%</dd>
                    <dt>DAX:</dt>
                    <dd>-0,53%</dd>
                    <dt>SP500:</dt>
                    <dd>-0,44%</dd>
                    @*<dt>Vinnare på Large Cap:</dt>
                    <dd>Stora Enso A: +4,64%</dd>
                    <dt>Förlorare på Large Cap:</dt>
                    <dd>Fingerprint Cards B: -7,77%</dd>*@

                </dl>

                <p>
                    Kommande vecka
                    Hela världen sitter på helspänn och inväntar den amerikanska centralbanken FEDs räntebesked som kommer att komma på onsdag 19:00. Förväntningarna ligger på att de kommer att höja räntan, en indikator på det är de starka sysselsättningssiffrorna för februari. Räntebeskedet kommer troligtvis leda till stora rörelser i dollarn, något att kika på för den risktagande personen.
                </p>
                <p>
                    För den som vill följa oljan kommer Opec med deras månadsrapport under tisdagen vid lunchtid.

                </p>
                <p>Här nedanför ser ni en väldigt bra graf på SP 500 och utvecklingen för FEDs styrränta genom historien, kommer vi få se en räntehöjning imorgon och hur kommer det påverka marknaden?</p>
                <p>
                    För den som vill ha stenkoll på vad som händer i veckan hittar ni en finanskalender på följande länk: https://www.nordnet.se/mux/web/analys/nyheter/finanskalender.html
                </p>
                <p>
                    Vi önskar er en fortsatt trevlig vecka och lycka till för er som deltar i GoS!
                </p>
                <p>
                    Mvh
                    Finansutskottet
                </p>
                <hr>
            </div>
            <div class="row">
                <h3>Nyhetssvep v. 10</h3>
                <!-- Author -->
                <p class="lead">
                    av <a href="https://www.facebook.com/sesamsfinansutskott/?fref=ts" target="_blank">Sesams Finansutskott</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p>
                    <span class="fa fa-clock-o"></span> Postat den 6 mars.
                </p>
                <!-- Preview Image -->
                <hr>


                <p>
                    <i>VECKANS FRÅGA; Vilken kurs står Snapchat (nuvarande kurs är:27.09$) i slutet av veckan? Vinnaren av tävlingen presenteras i slutet av månaden.</i>
                </p>
                <p class="lead">Årets nionde vecka har passerat och börsen har fortsatt starkt uppåt. Efter den svaga avslutningen på vecka 8 tog börsen snabbt igen det och onsdagen bjöd på en rejäl uppgång där både SP500 och Dow Jones satte nya rekordnivåer. Dow Jones klättrade upp över 21000-nivån och stängde över medan SP500 var uppe och nosade på 2400-nivån men orkade inte med att stänga över. Efter den kraftiga uppgången på onsdagen tog kraften slut på börsen och veckan avslutades med två lite svagare dagar. Man kan inget annat än säga att börsen är extremt stark för tillfället, speciellt de amerikanska börserna.</p>
                <p>
                    På torsdagen börsnoterades Snapchat, vilket är den största techbolagsnoteringen på länge, noteringskursen sattes kring 17$ vilket gav ett bolagsvärde kring 24 miljarder dollar. När aktien började att handlas på torsdagen hade kursen stigit till 24$ och står nu efter veckan i 27.09$ vilket ger bolaget ett marknadsvärde på 31,35 miljarder dollar (ca 285 miljarder kronor).
                </p>

                <p>
                    Under veckan har det varit turbulent kring det franska presidentvalet där det visar sig att den republikanske kandidaten François Fillon misstänks ha bidragsfuskat och fler än två tredjedelar av de franska väljarna vill att han ska hoppa av. Den nationalistiska högerkandidaten Le Pen leder än så länge i opinionsmätningarna och hennes framgång sätter press på euron då hon talar för att Frankrike ska lämna eurosamarbetet och införa en egen valuta.
                </p>

                <p>
                    Under fredagen höll den amerikanska centralbankschefen Jannet Yellen tal där agendan låg kring en räntehöjning nu i mars, marknaden har till 92 % prisat in att en räntehöjning kommer att ske vilket har stärkt dollarn under senaste tid. Yellen var dock aktsam kring en räntehöjning och sade att ”en räntehöjning endast är möjlig ifall marknaden utvecklar sig på det sätt som man förväntat”. Uttalandet sänkte dollarn under fredagen och stärkte euron. Då fastighetsbolag är väldigt känsliga för räntehöjningar har vi under veckan sett att just fastighetsbolag utvecklats negativt.
                </p>

                <dl class="dl-horizontal">
                    <dt>OMXS30:</dt>
                    <dd>+0,73%</dd>
                    <dt>DAX:</dt>
                    <dd>+1,89%</dd>
                    <dt>SP500:</dt>
                    <dd>+0,67%</dd>
                    <dt>Vinnare på Large Cap:</dt>
                    <dd>Stora Enso A: +4,64%</dd>
                    <dt>Förlorare på Large Cap:</dt>
                    <dd>Fingerprint Cards B: -7,77%</dd>

                </dl>

                <p>
                    I förra veckans nyhetssvep tog vi upp att ljudboksförlaget Storytel skulle presentera sin rapport i veckan, bolaget presenterade uppenbarligen en bra rapport då bolaget under veckan steg med hela 26,07%. En annan raket under veckan som gått var nanosatellitbolaget GS Sweden (GOMX) som, efter att ha tecknat ett nytt avtal, stigit med över 60%.
                </p>
                <p>
                    För den som är intresserad av Bitcoin eller blockchainteknik så har kryptovalutan Bitcoin gått som tåget senaste tiden och har sedan årsskiftet stigit med 30% mot dollarn och priset för en Bitcoin ligger nu på 1260 dollar, det vill säga högre än guldpriset. Mycket av den starka uppgången kan bero på att den 11 mars ska det avgöras ifall Bitcoin ska tillåtas handlas via en ETF (börshandlad fond).

                </p>
                <p>De två viktigaste punkterna för kommande vecka sker på torsdag och fredag. Torsdagen består av räntebesked från europeiska centralbanken där förväntningarna ligger på att Mario Draghi ska behålla räntorna på nuvarande nivå. På fredag släpps jobbsiffror i USA. Både räntebeskeden och jobbsiffrorna har en markant påverkan på världsmarknaden. Förutom dessa två släpper även Kina en rapport kring handelsbalansen som också väntas ha hög påverkan på börsen.</p>
                <p>
                    Bilden visar värderingar på olika börser i världen och vad man kan se är att de flesta börserna är värderade över 10-års genomsnittet.
                </p>
                <p>
                    Då ingen lyckades träffa rätt i förra veckans fråga har vi ingen vinnare där, bättre lycka denna vecka!
                </p>
                <p>
                    Trevlig vecka önskar Finansutskottet.
                </p>
                <hr>
            </div>

        </div>
        <div class="col-lg-4 ">


            <h4>Topp 5</h4>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Utveckling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CurrentLeaderBoard)
                    {
                        <tr>
                            <td>
                                <a class="" asp-action="VisitProfile" asp-controller="Users" asp-route-id="@item.Id">@item.FullName</a>
                            </td>
                            <td>
                                @item.TotalWorth kr
                                @if (item.GrowthPercent > 0)
                                {
                                    <span class="font-percent text-success">(@item.GrowthPercent%)</span>
                                }
                                else if (item.GrowthPercent < 0)
                                {
                                    <span class="font-percent text-danger">(@item.GrowthPercent%)</span>
                                }
                                else
                                {
                                    <span class="font-percent">(@item.GrowthPercent%)</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <h4>Dagens vinnare</h4>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Utveckling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TodaysWinners)
                    {
                        <tr>
                            <td>
                                <a class="" asp-action="VisitProfile" asp-controller="Users" asp-route-id="@item.Id">@item.FullName</a>
                            </td>
                            @if (item.PercentPerDay > 0)
                            {
                                <td class="font-percent text-success">@item.PercentPerDay%</td>
                            }
                            else if (item.PercentPerDay < 0)
                            {
                                <td class="font-percent text-danger">@item.PercentPerDay%</td>
                            }
                            else
                            {
                                <td class="font-percent">@item.PercentPerDay%</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <h4>Dagens förlorare</h4>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                        Namn
                        </th>
                        <th>Utveckling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TodaysLoosers)
                    {
                        <tr>
                            <td>
                                <a class="" asp-action="VisitProfile" asp-controller="Users" asp-route-id="@item.Id">@item.FullName</a>
                            </td>
                            @if (item.PercentPerDay > 0)
                            {
                                <td class="font-percent text-success">@item.PercentPerDay%</td>
                            }
                            else if (item.PercentPerDay < 0)
                            {
                                <td class="font-percent text-danger">@item.PercentPerDay%</td>
                            }
                            else
                            {
                                <td class="font-percent">@item.PercentPerDay%</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>
@section Scripts {
    <script type="text/javascript">
    </script>
}

