@model HomeViewModel
@{
    ViewData["Title"] = "Nyheter";
}
<section id="section-welcome-header">
    <div class="jumbotron text-center jumbotron-custom">
        <h2>Välkommen till</h2>
        <h1 class="text-uppercase">game of stocks!</h1>
        @*<a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-primary">Logga in</a>
            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-success">Registrera</a>*@
    </div>
</section>

<section class="">
    <div class="container">
        <div class="col-lg-8">
            <div class="row">
                <h3>Nyhetssvep v. 10</h3>
                <!-- Author -->
                <p class="lead">
                    av <a href="https://www.facebook.com/sesamsfinansutskott/?fref=ts" target="_blank">Sesams Finansutskott</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p>
                    <span class="fa fa-clock-o"></span> Postat den 6 mars.
                </p>
                <!-- Preview Image -->
                <hr>


                <p>
                    <i>VECKANS FRÅGA; Vilken kurs står Snapchat (nuvarande kurs är:27.09$) i slutet av veckan? Vinnaren av tävlingen presenteras i slutet av månaden.</i>
                </p>
                <p class="lead">Årets nionde vecka har passerat och börsen har fortsatt starkt uppåt. Efter den svaga avslutningen på vecka 8 tog börsen snabbt igen det och onsdagen bjöd på en rejäl uppgång där både SP500 och Dow Jones satte nya rekordnivåer. Dow Jones klättrade upp över 21000-nivån och stängde över medan SP500 var uppe och nosade på 2400-nivån men orkade inte med att stänga över. Efter den kraftiga uppgången på onsdagen tog kraften slut på börsen och veckan avslutades med två lite svagare dagar. Man kan inget annat än säga att börsen är extremt stark för tillfället, speciellt de amerikanska börserna.</p>
                <p>Årets nionde vecka har passerat och börsen har fortsatt starkt uppåt. Efter den svaga avslutningen på vecka 8 tog börsen snabbt igen det och onsdagen bjöd på en rejäl uppgång där både SP500 och Dow Jones satte nya rekordnivåer. Dow Jones klättrade upp över 21000-nivån och stängde över medan SP500 var uppe och nosade på 2400-nivån men orkade inte med att stänga över. Efter den kraftiga uppgången på onsdagen tog kraften slut på börsen och veckan avslutades med två lite svagare dagar. Man kan inget annat än säga att börsen är extremt stark för tillfället, speciellt de amerikanska börserna.</p>
                <p>
                    På torsdagen börsnoterades Snapchat, vilket är den största techbolagsnoteringen på länge, noteringskursen sattes kring 17$ vilket gav ett bolagsvärde kring 24 miljarder dollar. När aktien började att handlas på torsdagen hade kursen stigit till 24$ och står nu efter veckan i 27.09$ vilket ger bolaget ett marknadsvärde på 31,35 miljarder dollar (ca 285 miljarder kronor).
                </p>

                <p>
                    Under veckan har det varit turbulent kring det franska presidentvalet där det visar sig att den republikanske kandidaten François Fillon misstänks ha bidragsfuskat och fler än två tredjedelar av de franska väljarna vill att han ska hoppa av. Den nationalistiska högerkandidaten Le Pen leder än så länge i opinionsmätningarna och hennes framgång sätter press på euron då hon talar för att Frankrike ska lämna eurosamarbetet och införa en egen valuta.
                </p>

                <p>
                    Under fredagen höll den amerikanska centralbankschefen Jannet Yellen tal där agendan låg kring en räntehöjning nu i mars, marknaden har till 92 % prisat in att en räntehöjning kommer att ske vilket har stärkt dollarn under senaste tid. Yellen var dock aktsam kring en räntehöjning och sade att ”en räntehöjning endast är möjlig ifall marknaden utvecklar sig på det sätt som man förväntat”. Uttalandet sänkte dollarn under fredagen och stärkte euron. Då fastighetsbolag är väldigt känsliga för räntehöjningar har vi under veckan sett att just fastighetsbolag utvecklats negativt.
                </p>

                <dl class="dl-horizontal">
                    <dt>OMXS30:</dt>
                    <dd>+0,73%</dd>
                    <dt>DAX:</dt>
                    <dd>+1,89%</dd>
                    <dt>SP500:</dt>
                    <dd>+0,67%/dd>
                    <dt>Vinnare på Large Cap:</dt>
                    <dd>Stora Enso A: +4,64%</dd>
                    <dt>Förlorare på Large Cap:</dt>
                    <dd>Fingerprint Cards B: -7,77%</dd>

                </dl>

                <p>
                    I förra veckans nyhetssvep tog vi upp att ljudboksförlaget Storytel skulle presentera sin rapport i veckan, bolaget presenterade uppenbarligen en bra rapport då bolaget under veckan steg med hela 26,07%. En annan raket under veckan som gått var nanosatellitbolaget GS Sweden (GOMX) som, efter att ha tecknat ett nytt avtal, stigit med över 60%.
                </p>
                <p>
                    För den som är intresserad av Bitcoin eller blockchainteknik så har kryptovalutan Bitcoin gått som tåget senaste tiden och har sedan årsskiftet stigit med 30% mot dollarn och priset för en Bitcoin ligger nu på 1260 dollar, det vill säga högre än guldpriset. Mycket av den starka uppgången kan bero på att den 11 mars ska det avgöras ifall Bitcoin ska tillåtas handlas via en ETF (börshandlad fond).

                </p>
                <p>De två viktigaste punkterna för kommande vecka sker på torsdag och fredag. Torsdagen består av räntebesked från europeiska centralbanken där förväntningarna ligger på att Mario Draghi ska behålla räntorna på nuvarande nivå. På fredag släpps jobbsiffror i USA. Både räntebeskeden och jobbsiffrorna har en markant påverkan på världsmarknaden. Förutom dessa två släpper även Kina en rapport kring handelsbalansen som också väntas ha hög påverkan på börsen.</p>
                <p>
                    Bilden visar värderingar på olika börser i världen och vad man kan se är att de flesta börserna är värderade över 10-års genomsnittet.
                </p>
                <p>
                    Då ingen lyckades träffa rätt i förra veckans fråga har vi ingen vinnare där, bättre lycka denna vecka!
                </p>
                <p>
                    Trevlig vecka önskar Finansutskottet.
                </p>
                <hr>
            </div>

        </div>
        <div class="col-lg-4 ">


            <h4>Topp 5</h4>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Utveckling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CurrentLeaderBoard)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>
                                @item.TotalWorth kr
                                @if (item.GrowthPercent > 0)
                                {
                                    <span class="font-percent text-success">(@item.GrowthPercent%)</span>
                                }
                                else if (item.GrowthPercent < 0)
                                {
                                    <span class="font-percent text-danger">(@item.GrowthPercent%)</span>
                                }
                                else
                                {
                                    <span class="font-percent">(@item.GrowthPercent%)</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <h4>Dagens vinnare</h4>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Utveckling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TodaysWinners)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            @if (item.PercentPerDay > 0)
                            {
                                <td class="font-percent font-color-green">@item.PercentPerDay%</td>
                            }
                            else if (item.PercentPerDay < 0)
                            {
                                <td class="font-percent font-color-red">@item.PercentPerDay%</td>
                            }
                            else
                            {
                                <td class="font-percent">@item.PercentPerDay%</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <h4>Dagens förlorare</h4>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Utveckling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TodaysLoosers)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            @if (item.PercentPerDay > 0)
                            {
                                <td class="font-percent font-color-green">@item.PercentPerDay%</td>
                            }
                            else if (item.PercentPerDay < 0)
                            {
                                <td class="font-percent font-color-red">@item.PercentPerDay%</td>
                            }
                            else
                            {
                                <td class="font-percent">@item.PercentPerDay%</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>
@section Scripts {
    <script type="text/javascript">
    </script>
}

