@model StockListViewModel


@{
    ViewData["Title"] = "Stock List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-padding-medium">
    <div class="container">
        <div class="table-responsive">
            <table id="stock-table" class="table table-bordered table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Utveckling</th>
                        <th>Köppris</th>
                        <th class="hidden-xs">Öppning</th>
                        <th class="hidden-xs">Lägst</th>
                        <th class="hidden-xs">Högst</th>
                        <th>Antal</th>
                        <th class="hidden-xs">Senaste köptid</th>
                        <th class="hidden-xs">Senaste köpdatum</th>
                        <th class="hidden-xs">Cap</th>
                    </tr>
                </thead>
                <tbody id="stock-table-body">
                    @foreach (var stock in Model.Stocks)
                    {
                        <tr>
                            <td class="">
                                <a asp-controller="StockList" asp-action="Stock" asp-route-label="@stock.Label" class="stock-button">@stock.Name</a>
                            </td>
                            <td>
                                <span class="">
                                    <b>@stock.Change</b>
                                </span>
                            </td>
                            <td>@stock.LastTradePriceOnly</td>
                            <td class="hidden-xs">@stock.Open</td>
                            <td class="hidden-xs">@stock.DaysLow</td>
                            <td class="hidden-xs">@stock.DaysHigh</td>
                            <td>@stock.Volume</td>
                            <td class="hidden-xs">@stock.LastTradeTime</td>
                            <td class="hidden-xs">@stock.LastTradeDate</td>
                            <td class="hidden-xs">@stock.Cap</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            var table = $('#stock-table')
                    .DataTable({
                        "iDisplayLength": 50,
                        "language": {
                            "sSearch": "Sök:",
                            "sLengthMenu": "Visa _MENU_ rader"
                        },
                        "responsive": true
                    });
        });
    </script>
}