@model StockListViewModel


@{
    ViewData["Title"] = "Stock List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-padding-medium">
    <div class="container">
        <div class="table-responsive">
            <table id="stock-table" class="table table-bordered table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Utveckling</th>
                        <th>Antal</th>
                        <th>Pris</th>
                        <th>Lägst</th>
                        <th>Högst</th>
                        <th>Köppris</th>
                        <th>Senaste köptid</th>
                        <th>Senaste köpdatum</th>
                        <th>Cap</th>
                    </tr>
                </thead>
                <tbody id="stock-table-body">
                    @foreach (var stock in Model.Stocks)
                    {
                        <tr>
                            <td class="">
                                <a asp-controller="StockList" asp-action="Stock" asp-route-label="@stock.Label" class="stock-button">@stock.Name</a>
                            </td>
                            <td>
                                <span class="">
                                    <b>@stock.Change</b>
                                </span>
                            </td>
                            <td>@stock.Volume</td>
                            <td>@stock.Open</td>
                            <td>@stock.DaysLow</td>
                            <td>@stock.DaysHigh</td>
                            <td>@stock.LastTradePriceOnly</td>
                            <td>@stock.LastTradeTime</td>
                            <td>@stock.LastTradeDate</td>
                            <td>@stock.Cap</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            var table = $('#stock-table')
                    .DataTable({
                        "iDisplayLength": 50,
                        "language": {
                            "sSearch": "Sök:",
                            "sLengthMenu": "Visa _MENU_ rader"
                        }
                    });

            //table.rows().every(function () {
            //    var label = $(table.row(this).data()[0]).attr('id');
            //    var buttonId = "btn-buy-" + label;

            //    this.child(
            //        "<form>" +
            //            "<div class='form-group'>" +
            //                "<label for='model-buy-amount'>Antal:</label>" +
            //                "<input type='number' min='0' class='form-control' id='buy-amount'>" +
            //                "<button id='btn-buy-stock' type='submit' class='btn btn-default'>Köp</button>" +
            //            "</div>" +
            //        "</form>" +
            //        "<div id='show-total-cost'>" +
            //        "</div>"
            //        );
            //});

        });
    </script>
}