@model StockViewModel
@{
    ViewData["Title"] = Model.Stock.Name;
}

<section class="section-padding-medium">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h3>@Model.Stock.Name</h3>
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Utveckling</dt>
                        <dd>
                            <span class="">
                                <b>@Model.Stock.Change</b>
                            </span>
                        </dd>
                        <dt>Antal</dt>
                        <dd>@Model.Stock.Volume</dd>
                        <dt>Senast</dt>
                        <dd>@Model.Stock.LastTradePriceOnly</dd>
                        <dt>Öppningspris</dt>
                        <dd>@Model.Stock.Open</dd>
                        <dt>Lägst</dt>
                        <dd>@Model.Stock.DaysLow</dd>
                        <dt>Högst</dt>
                        <dd>@Model.Stock.DaysHigh</dd>

                        <dt>Senaste köptid</dt>
                        <dd>@Model.Stock.LastTradeTime</dd>
                        <dt>Senaste köpdatum</dt>
                        <dd>@Model.Stock.LastTradeDate</dd>
                        <dt>Cap</dt>
                        <dd>@Model.Stock.Cap</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Ditt innehav</dt>
                        <dd>@Model.UsersQuantity</dd>
                        <dt>Totalt värde</dt>
                        <dd>@Model.UsersStockTotalSum</dd>
                        <dt>GAV</dt>
                        <dd>@Model.UsersGav</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  ">
                    <div class="panel">
                        <div class="panel-body">
                            <div id="buy-error-box" class="alert alert-warning text-center" style="display:none">
                                <span class="fa fa-exclamation" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                <span id="buy-error-box-text"></span>
                            </div>
                            <h4>Köp</h4>
                            <form asp-controller="api/StockTransactions"
                                  asp-action="CreateBuyingStockTransaction"
                                  asp-route-label="@Model.Stock.Label"
                                  asp-anti-forgery="true"
                                  data-ajax-success="ajaxSuccess"
                                  data-ajax="true"
                                  method="POST"
                                  data-ajax-begin="OnBegin"
                                  data-ajax-complete="OnComplete"
                                  data-ajax-failure="ajaxErrorBuy"
                                  class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Antal</label>
                                    <div class="col-md-10">
                                        <input name="quantity" id="buy-amount" type="number" min="1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p class="control-label pull-left" id="buy-form-validation">
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group form-stock-group">
                                    <button class="btn btn-primary btn-block " type="submit">Genomför</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="panel">
                        <div class="panel-body">
                            @if (Model.UserHasStock)
                            {
                                <div id="sell-error-box" class="alert alert-warning text-center" style="display:none">
                                    <span class="fa fa-exclamation" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    <span id="sell-error-box-text"></span>
                                </div>
                                <h4 class="">Sälj</h4>
                                <form asp-controller="api/StockTransactions"
                                      asp-action="CreateSellingStockTransaction"
                                      asp-route-label="@Model.Stock.Label"
                                      asp-anti-forgery="true"
                                      data-ajax-success="ajaxSuccess"
                                      data-ajax="true"
                                      method="POST"
                                      data-ajax-begin="OnBegin"
                                      data-ajax-complete="OnComplete"
                                      data-ajax-failure="ajaxErrorSell"
                                      class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Antal</label>
                                        <div class="col-md-10">
                                            <input name="quantity" id="quantity" type="number" min="1" class="form-control disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <p id="sell-form-validation" class="control-label pull-left"></p>
                                        </div>
                                    </div>
                                    <div class="form-group form-stock-group">
                                        <button data-loading-text="Laddar..."  class="btn btn-danger btn-block" type="submit">Genomför</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <h4 class="disabled text-muted">Sälj</h4>
                                <div class="form-horizontal ">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label text-muted">Antal</label>
                                        <div class="col-md-10">
                                            <input name="quantity" id="quantity" type="number" min="1" class="form-control " placeholder="Du saknar denna aktie." disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                    <div class="form-group form-stock-group">
                                        <button data-loading-text="Laddar..."  class="btn btn-danger btn-block disabled" type="submit">Genomför</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <a asp-action="Index" class="btn btn-default">Tillbaka</a>
        </div>
    </div>
</section>

@section scripts{
    <script>
        function ajaxSuccess() {
            location.href = '@Url.Action("DisplayProfile","Users")';
        };

        function ajaxErrorBuy(XMLHttpRequest) {
            var errorText = XMLHttpRequest.responseText;
            if (!$('#buy-error-box').is(":visible")) {
                $('#buy-error-box').toggle();
            }
            $('#buy-error-box-text').html(errorText);
        };

        function ajaxErrorSell(XMLHttpRequest) {
            var errorText = XMLHttpRequest.responseText;
            if (!$('#sell-error-box').is(":visible")) {
                $('#sell-error-box').toggle();
            }
            $('#sell-error-box-text').html(errorText);
        };

        function OnBegin() {
            var btn = $(this).find('button');
            $(btn).button('loading');
        };

        function OnComplete() {
            var btn = $(this).find('button');
            $(btn).button('reset');
        };

        $('#buy-amount').on('input',
            function () {
                var amount = $('#buy-amount').val();

                if (amount == 0 || amount == '') {
                    $('#buy-form-validation').html('');
                } else {
                    var lastTradePrice = parseFloat('@Model.Stock.LastTradePriceOnly'.replace(',', '.').replace(' ', ''));  // Replace , with .
                    var usersMoney = parseFloat('@Model.UsersMoney'.replace(',', '.').replace(' ', ''));  // Replace , with .
                    var total = (amount * lastTradePrice).toFixed(2);
                    if (total > usersMoney) {
                        //$('#buy-form-validation-money-left').html('Saldo kvar: ' + (usersMoney - total) + ' kr');
                        $('#buy-form-validation').attr('class', 'text-danger');
                        $('#buy-form-validation').html('Totalt: ' + total + ' kr');
                    } else {
                        //$('#buy-form-validation-money-left').html('Saldo kvar: ' + (usersMoney - total) + ' kr');
                        $('#buy-form-validation').attr('class', 'text-success');
                        $('#buy-form-validation').html('Totalt: ' + total + ' kr');
                    }

                }
                //var lastTradePrice = $(this).closest('tr').prev().find('.last-trade-price').text();
            });
    </script>
}

